<div class="public-customer-edit-wrapper">
  <h5>■会員情報編集</h5>
  <p class="alert_messages">
    
  <% if @customer.errors.any? %>
  <%= @customer.errors.count %>件のエラーが発生しました
  <ul class="alert_messages_li">
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </p>
  
<% end %>
  <div class="customer-edit-form">
    <%= form_with model: @customer ,url: information_path(current_customer.id) do |f| %>
    <div>
      <p><%= f.label :'プロフィール画像' %></p>
      <p><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></p>
    </div>
    <!--氏名-->
    <div>
      <p><%= f.label :'ニックネーム' %></p>
      <p><%= f.text_field :nickname, autofocus: true, autocomplete: "last_name", placeholder: "ジョン・タイター", class: "form-control" %></p>
    </div>
    <!--メールアドレス-->
    <div>
      <p><%= f.label :'メールアドレス' %></p>
      <p><%= f.email_field :email, class: "form-control" %></p>
    </div>
    <!--ボタン-->
    <div class="btns">
      <%= f.submit '変更' ,class: 'input_btn change_btn' %>
      <%= link_to '戻る' ,my_page_path ,class: "update-btn" %>
    </div>
    <% end %>
  </div>
  <%= link_to '退会する', unsubscribe_path, class:"text-danger" %>
</div>