<div class="customer-contents">
  <div class="my-page-top">
    <!--<p><img src="/header_01.jpg"></p>-->
    <%= image_tag current_customer.profile_image,size: '100x100', url: my_page_path %>
    <p><%= current_customer.nickname %> さん</p>
    <p><%= link_to "編集" ,customers_edit_path, class:"edit-btn" %></p>
  </div>

  <!--<span class="borderline"></span>-->

  <div class="my-routine-contents">
    <div class="my-routine">
      <h5>■My Routine</h5>
    <div>

        <%= link_to new_routine_path do %>
        <i class="fa-regular fa-square-plus"></i>
        <% end %>
    </div>
    </div>

    <table class="table">
      <%# @routines.each do |routine| %>
      <tr>
        <td style="width:20%"><img src="/level_01.jpg"></td>
        <td>2023/xx/xx</td>
        <td>メインタスク</td>
        <td><%= link_to 'show', my_page_path, class:"show-btn" %></td>
      </tr>
      <%# end %>
    </table>

  </div>

  <div class="back-number-contents">
    <h5>■Back number</h5>
    <table class="table">
      <tr>
        <td style="width:20%"><img src="/level_06.jpg"></td>
        <td>2023/xx/xx</td>
        <td>メインタスク</td>
        <td><%= link_to 'show', my_page_path, class:"show-btn" %></td>
      </tr>
    </table>
  </div>


</div>