<!--管理者用ログインページ-->
<div class="new-customer-contents">
  <h3>■Admin_Log in</h3>
  <div class="form-wrapper">
    <%= form_with model: @admin ,url: admin_session_path do |f| %>
    <%= render "admin/shared/error_messages", resource: resource %>
    <!--メールアドレス-->
    <div>
      <%= f.label :メールアドレス %>
    </div>
    <div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
    </div>
    <!--パスワード-->
    <div>
      <%= f.label :パスワード %>
    </div>
    <div>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
    <div class="submit-btn">
      <%= f.submit "ログイン" ,:class=>"input_btn" %>
    </div>
    <% end %>
  </div>
</div>

