<!--管理者用ログインページ-->


  <h5 class="bg-light d-inline px-4">管理者ログイン</h5>

  <div>
    <div>
      <%= form_with model: @admin ,url: admin_session_path do |f| %>
      <div>
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control " %>

          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>

      <div class="actions">
          <%= f.submit %>ログイン

      </div>
    <% end %>
    </div>
  </div>
</div>

