<div class="admin-customer-wrapper">
  <div class="admin-customer-edit-contents">
    <h5>■会員情報編集</h5>
    <div class="customer-edit-form">
      <%= form_with model: @customer ,url: admin_customer_path(@customer.id),method: :patch do |f| %>
      <div>
        <p class="edit-label"><b><%= f.label :'プロフィール画像' %></b></p>
        <p><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></p>
      </div>
      <!--氏名-->
      <div>
        <p class="edit-label"><b><%= f.label :'ニックネーム' %></b></p>
        <div>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "last_name", placeholder: "ジョン・タイター", class: "form-control" %>
        </div>
      </div>
      <!--メールアドレス-->
      <div>
        <p class="edit-label"><b><%= f.label :メールアドレス %></b></p>
        <div>
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>
      </div>
      <!--ボタン-->
      <div class="btns">
        <%= f.submit'変更', class: "update-btn" %>
        <%= link_to '戻る' , admin_customer_path(@customer.id), class: "update-btn" %>
      </div>
      <%= link_to "アカウント削除する", withdraw_path(current_customer), method: :patch, "data-confirm" => "本当に削除しますか？", class:"text-danger" %>
      <% end %>
    </div>
  </div>
</div>