<div class="customer-admin-contents">

  <h5>■会員詳細画面</h5>
  <div class="customer-top-content">
    <div class="customer-info-left">
      <%= image_tag @customer.get_profile_image(100,100) %>
      <p><%= link_to "編集" ,edit_admin_customer_path(@customer.id), class:"edit-btn" %></p>
    </div>

    <div class="customer-info-right">
      <!--氏名-->
      <div>
        <p>ニックネーム</p>
        <div><%= @customer.nickname %></div>
      </div>
      <!--メールアドレス-->
      <div>
        <p>メールアドレス</p>
        <div><%= @customer.email %></div>
      </div>
      <!--会員ステータス-->
      <p>会員ステータス
        <%if @customer.is_deleted %>
        <spna>退会</spna>
        <% else %>
        <span>有効</spna>
        <% end %>
      </p>
    </div>
  </div>

  <div class="customer-bottom-content">
    <div class="my-routine-contents">
      <div>
        <h5>■<%= @customer.nickname %>さんのRoutine</h5>
      </div>
      <!--実施中ルーティン一覧-->
      <div class="item-contents_all">
        <% @routines.each do |routine| %>
        <div class="item-contents">
          <div class="status_tag">
            <%if routine.public_status %>
            <span class="item-check"><i class="fa-solid fa-check"></i></span>
            <% else %>
            <span class="item-lock"><i class="fa-solid fa-lock"></i></span>
            <% end %>
          </div>
          <div class="item-content">
            <ul>
              <li><b>目標</b><br><%= routine.target %></li>
              <li><b>ルーティン</b><br><%= routine.task.name %></li>
              <li>
                <% routine.task.sub_tasks.each do | sub_task| %>
                <span class="subtask_line"><%= sub_task.name %></span>
                <% end %>
              </li>
              <li>
                <% if routine.implementation_time.accurate_time.present? %>
                <b>時刻</b><br>
                <%= routine.implementation_time.accurate_time.strftime('%H:%M') if routine.implementation_time.accurate_time %>
                <% else %>
                <b>ざっくり時間</b><br>
                <%= routine.implementation_time.approximate_time %>
                <% end %>
              </li>
              <li><b>頻度</b>:<%= routine.frequency.frequency_i18n %></li>
              <li><b>期間</b>:<%= routine.period.period_i18n %></li>
            </ul>
            <img src="/level_01.jpg">
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <!--バックナンバーのルーティン一覧-->
    <div class="my-routine-contents">
        <div>
          <h5>■<%= @customer.nickname %>さんのRoutine（バックナンバー）</h5>
        </div>
        <div class="item-contents_all">
          <% @routines.each do |routine| %>
          <div class="item-contents">
            <div class="status_tag">
              <%if routine.public_status %>
              <span class="item-check"><i class="fa-solid fa-check"></i></span>
              <% else %>
              <span class="item-lock"><i class="fa-solid fa-lock"></i></span>
              <% end %>
            </div>
            <div class="item-content">
              <ul>
                <li><b>目標</b><br><%= routine.target %></li>
                <li><b>ルーティン</b><br><%= routine.task.name %></li>
                <li>
                  <% routine.task.sub_tasks.each do | sub_task| %>
                  <span class="subtask_line"><%= sub_task.name %></span>
                  <% end %>
                </li>
                <li>
                  <% if routine.implementation_time.accurate_time.present? %>
                  <b>時刻</b><br>
                  <%= routine.implementation_time.accurate_time.strftime('%H:%M') if routine.implementation_time.accurate_time %>
                  <% else %>
                  <b>ざっくり時間</b><br>
                  <%= routine.implementation_time.approximate_time %>
                  <% end %>
                </li>
                <li><b>頻度</b>:<%= routine.frequency.frequency_i18n %></li>
                <li><b>期間</b>:<%= routine.period.period_i18n %></li>
              </ul>
              <img src="/level_01.jpg">
            </div>
          </div>
          <% end %>
        </div>
      </div>
  </div>
</div>