<div class="customer-contents">

  <h5>■<%= @customer.nickname %>さんの詳細画面</h5>
  <div class="customer-top-content">
    <div class="customer-info-left">
      <%= image_tag @customer.get_profile_image(100,100) %>
      <p><%= link_to "編集" ,edit_admin_customer_path(@customer.id), class:"edit-btn" %></p>
    </div>

    <div class="customer-info-right">
      <!--氏名-->
      <p><b>ニックネーム</b>&emsp;&emsp;&nbsp;<%= @customer.nickname %></p>
      <p><b>メールアドレス</b>&emsp;&nbsp;<%= @customer.email %></p>
      <p><b>会員ステータス</b>&emsp;

      <%if @customer.is_deleted %>
      <span class="inactive">退会</span>
      <% else %>
      <span class="active">有効</span>
      <% end %></p>
    </div>
  </div>

  <div class="customer-bottom-content">
    <div class="my-routine-contents">
      <div>
        <h5>■<%= @customer.nickname %>さんのRoutine</h5>
      </div>
      <!--実施中ルーティン一覧-->
      <div class="item-contents_all">
        <% @routines.each do |routine| %>
        <div class="item-contents">
          <div class="status_tag">
            <%if routine.public_status %>
            <span class="item-check"><i class="fa-solid fa-check"></i></span>
            <% else %>
            <span class="item-lock"><i class="fa-solid fa-lock"></i></span>
            <% end %>
          </div>
          <div class="item-content">
            <ul>
              <li><b>目標</b><br><span class="item-name"><%= routine.target %></span></li>
              <li><b>ルーティン</b><br><span class="item-name"><%= routine.task.name %></span></li>
              <li>
                <% routine.task.sub_tasks.each do | sub_task| %>
                <span class="subtask_line"><%= sub_task.name %></span>
                <% end %>
              </li>
              <li class="time-list">
                <b>時間</b>
                <% if routine.implementation_time.accurate_time.present? %>
                <span class="item-name"><%= routine.implementation_time.accurate_time.strftime('%H:%M') if routine.implementation_time.accurate_time %></span>
                <% else %>
                <br>
                <span class="item-name"><%= routine.implementation_time.approximate_time %></span>
                <% end %>
              </li>
              <li><b>頻度</b>:<%= routine.frequency.frequency_i18n %></li>
              <li><b>期間</b>:<%= routine.period.period_i18n %></li>
            </ul>
            <img src="/level_01.jpg">
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <!--バックナンバーのルーティン一覧-->
    <div class="my-routine-contents">
        <div>
          <h5>■<%= @customer.nickname %>さんのRoutine（バックナンバー）</h5>
        </div>
        <div class="item-contents_all">
          <% @routines.each do |routine| %>
          <div class="item-contents">
            <div class="status_tag">
              <%if routine.public_status %>
              <span class="item-check"><i class="fa-solid fa-check"></i></span>
              <% else %>
              <span class="item-lock"><i class="fa-solid fa-lock"></i></span>
              <% end %>
            </div>
            <div class="item-content">
              <ul>
                <li><b>目標</b><br><p><%= routine.target %></p></li>
                <li><b>ルーティン</b><br><p><%= routine.task.name %></p></li>
                <li>
                  <% routine.task.sub_tasks.each do | sub_task| %>
                  <span class="subtask_line"><p><%= sub_task.name %></p></span>
                  <% end %>
                </li>
                <li class="time-list">
                  <% if routine.implementation_time.accurate_time.present? %>
                  <b>時間</b>
                  <%= routine.implementation_time.accurate_time.strftime('%H:%M') if routine.implementation_time.accurate_time %>
                  <% else %>

                  <%= routine.implementation_time.approximate_time %>
                  <% end %>
                </li>
                <li><b>頻度</b>:<%= routine.frequency.frequency_i18n %></li>
                <li><b>期間</b>:<%= routine.period.period_i18n %></li>
              </ul>
              <img src="/level_01.jpg">
            </div>
          </div>
          <% end %>
        </div>
      </div>
  </div>
</div>