  <!--会員用　新規会員登録ページ-->


  <h3>■Sign up</h3>

      <%= form_with model: @customer ,url: customer_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>


          <!--ニックネーム-->

          <div>
            <%= f.label :'ニックネーム' %>
          </div>
          <div>
            <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "ジョン・タイター" %>
          </div>

          <!--プロフィール画像-->
          <div>
            <label for="inputImage">プロフィール画像</label>
          </div>
          <div>
            <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
          </div>

          <!--メールアドレス-->
          <div>
            <%= f.label :メールアドレス %>
          </div>
          <div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
          </div>

          <!--パスワード-->

          <div>
            <%= f.label :'パスワード' %>
            <% if @minimum_password_length %><em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
          </div>

          <div>
            <%= f.password_field :password, autocomplete: "new_password" %>
          </div>

          <!--確認用パスワード-->
          <div>
            <%= f.label :'パスワード(確認用)' %>
          </div>
          <div>
            <%= f.password_field :encrypted_password, autocomplete: "encrypted_password" %>
          </div>


            <%= f.submit '登録' %>

      <% end %>
      <h5>既に登録がお済みの方</h5>
        <%= link_to 'こちら', new_customer_session_path %>からログインしてください。
