<!--会員用ログインページ-->
<div class="new-customer-contents">
  <h3>■Log in</h3>
  <div class="form-wrapper">
  <%= form_with model: @customer ,url: customer_session_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
    <!--メールアドレス-->
    <div>
      <%= f.label :"メールアドレス" %>
    </div>
    <div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
    </div>
    <!--パスワード-->
    <div>
      <%= f.label :"パスワード" %>
    </div>
    <div>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
    <div class="submit-btn">
      <button type="submit" class="input_btn">
        ログイン
      </button>
    </div>
    <% end %>
  </div>
  <div class="bottom-text">
    <p>会員登録がお済みでない方</p>
    <p><%= link_to 'こちら', new_customer_registration_path %>から新規登録してください。</p>
  </div>
</div>

