<div class="routine-contents">

  <h5>■ルーティン一覧</h5>
  <div class="item-contents_all">

    <% @current_routines.each do |routine| %>
    <div class="item-contents">
      <p class="profile_name_2"><%= routine.customer.nickname%></p>
      <div class="item-content">
        <div class="like_content">
          <%= render "public/bookmarks/bookmarks", routine: routine %>
        </div>
        <ul>
          <li><b>目標</b><br><p><%= routine.target %></p></li>
          <li><b>ルーティン</b><br><p><%= routine.task.name %></p></li>
          <li class="sub_task_list">
            <p>
              <% routine.task.sub_tasks.each do | sub_task| %>
              <span class="subtask_line"><%= sub_task.name %></span>
              <% end %>
              </p>
          </li>
          <li class="time-list">
            <span class="item-content-title"><b>時間</b>:
              <% if routine.implementation_time.accurate_time.present? %>
              <%= routine.implementation_time.accurate_time.strftime('%H:%M') if routine.implementation_time.accurate_time %>
              <% else %>
              <%= routine.implementation_time.approximate_time %>
              <% end %>
            </span>
          </li>
          <li>
            <span class="item-content-title"><b>頻度</b>:<%= routine.frequency.frequency_i18n %></span>&emsp;
            <span class="item-content-title"><b>期間</b>:<%= routine.period.period_i18n %></span>
          </li>
        </ul>
        <%= image_tag "/level_#{routine.level}.jpg" %>

      </div>
    </div>
    <% end %>
  </div>
</div>


<div class="routine-contents">
  <h5>■バックナンバー一覧</h5>
  <div class="item-contents_all">
    <% @backnumber_routines.each do |routine| %>
    <div class="item-old-contents">
      <p class="profile_name_2"><%= routine.customer.nickname%></p>

      <div class="item-content">

      <div class="like_content">
        <%= render "public/bookmarks/bookmarks", routine: routine %>
      </div>
        <ul>
          <li><b>目標</b><br><p><%= routine.target %></p></li>
          <li><b>ルーティン</b><br><p><%= routine.task.name %></p></li>
          <li class="sub_task_list">
            <p>
              <% routine.task.sub_tasks.each do | sub_task| %>
              <span class="subtask_line"><%= sub_task.name %></span>
              <% end %>
              </p>
          </li>
          <li class="time-list">
            <span class="item-content-title"><b>時間</b>:
              <% if routine.implementation_time.accurate_time.present? %>
              <%= routine.implementation_time.accurate_time.strftime('%H:%M') if routine.implementation_time.accurate_time %>
              <% else %>
              <%= routine.implementation_time.approximate_time %>
              <% end %>
            </span>
          </li>
          <li>
            <span class="item-content-title"><b>頻度</b>:<%= routine.frequency.frequency_i18n %></span>&emsp;
            <span class="item-content-title"><b>期間</b>:<%= routine.period.period_i18n %></span>
          </li>
        </ul>
        <img src="/level_10.jpg">

      </div>
    </div>
    <% end %>
  </div>








</div>