<div class="routine-contents">
  <h3>■What is your goal?</h3>
  <p>目標はなんですか？</p>

  <%= form_with model: @routine ,url: new_routine_path do |f| %>
  <%= f.text_field :target, autofocus: true, placeholder: "ナイスバディになって彼氏を見返す！", class: "new-form-control" %>

  <p><i class="fa-solid fa-camera-retro"></i>こういう人になりたい！ここに行きたい！など参考画像があればアップしてみてください！<br />毎日、目にしてモチベーションを上げましょう！</p>

    <!--<label for="upload" class="image_input_btn">画像をアップロード</label>-->
    <!--<input id="upload" type="file" name="upload" class="image_form">-->
    <%= f.file_field :routine_image, placeholder: "", accept: "image/*", class: "routine_image_form" %>


    <h3>■What do you routineize?</h3>
      <p>何をルーティン化しますか？</p>

      <div>
        <p>
          <%= f.radio_button :main_task, true %>
          <%= f.text_field :main_task, autofocus: true, placeholder: "筋トレする", class: "short-text" %>
        </p>
        <div>
          <p>※任意※</p>
          <p>
            01.<%= f.text_field :sub_task, autofocus: true, placeholder: "腹筋", class: "short-text" %>
          </p>
        </div>
        <div>
          <p>
            02.<%= f.text_field :sub_task, autofocus: true, placeholder: "腕立て伏せ", class: "short-text" %>

            <i class="fa-regular fa-square-plus"></i>
          </p>
        </div>
      </div>

      <h3>■When?</h3>
      <p>いつしますか？</p>
      <div>
          <p>
            <%= f.radio_button :accurate_time, true, checked: true %>
            <%= f.label :accurate_time, "時刻を設定", for: 'routine_accurate_time_true' %>
            <div><%= f.text_field :approximate_time_after, id: 'hoge', placeholder: "何時でもOK、食事後など", class: "short-text display-block" %></div>
          </p>
      </div>
      <div>
        <p>
          <%= f.radio_button :approximate_time, true %>
          <%= f.label :approximate_time, "ざっくり時間", for: 'routine_approximate_time_true' %>
          <div><%= f.text_field :approximate_time_after, autofocus: true, placeholder: "何時でもOK、食事後など", class: "short-text display-none" %></div>
        </p>
      </div>

      <div>
        <p>
          <%#= f.radio_button :approximate_time, true %>
          <%#= f.text_field :approximate_time_after, autofocus: true, placeholder: "食事", class: "short-text" %>
        </p>
      </div>
      <div>
        <p>
          <%#= f.radio_button :approximate_time, true %>
          <%#= f.text_field :approximate_time_after, autofocus: true, placeholder: "寝る", class: "short-text" %>
        </p>

      </div>
      <h3>■How often?</h3>
      <p>頻度は？</p>
      <div>
        <p>
          <%= f.radio_button :frequencie, true %>
          <%= f.label :"毎日 1日に1回" %>
        </p>
      </div>
      <div>
        <p>
          <%= f.radio_button :frequencie, true %>
          <%= f.label :"毎日 1日に2回" %>
        </p>
      </div>
      <div>
        <p>
          <%= f.radio_button :frequencie, true %>
          <%= f.label :"毎日 1日に3回" %>
        </p>
      </div>
      <div>
        <p>
          <%= f.radio_button :frequencie, true %>
          <%= f.label :"2日に1回" %>
        </p>
      </div>
      <div>
        <p>
          <%= f.radio_button :frequencie, true %>
          <%= f.label :"3日に1回" %>
        </p>
      </div>
      <!--頻度ここから-->
      <h3>■How long is the period?</h3>
      <p>期間は？</p>
            <div>
        <p>
          <%= f.radio_button :period, true %>
          <%= f.label :"ずっと続ける" %>
        </p>
      </div>
      <div>
        <p>
          <%= f.radio_button :period, true %>
          <%= f.label :"1週間" %>
        </p>
      </div>
      <div>
        <p>
          <%= f.radio_button :period, true %>
          <%= f.label :"2週間" %>
        </p>
      </div>
      <div>
        <p>
          <%= f.radio_button :period, true %>
          <%= f.label :"3週間" %>
        </p>
      </div>
      <div>
        <p>
          <%= f.radio_button :period, true %>
          <%= f.label :"4週間" %>
        </p>
      </div>
      <div>
        <p>
          <%= f.radio_button :period, true %>
          <%= f.label :"1ヶ月" %>
        </p>
      </div>
      <div>
        <p>
          <%= f.radio_button :period, true %>
          <%= f.label :"1年間" %>
        </p>
      </div>
      <div>
        <p>
          <%= f.radio_button :period, true %>
          <%= f.label :"3日に1回" %>
        </p>
      </div>


      <h3>■公開設定</h3>
        <div>
          <p>
          <%= f.radio_button :public_status, true, checked: true %>
          <%= f.label :"公開" %>
          <%= f.radio_button :public_status, false %>
          <%= f.label :"非公開" %>

          </p>
        </div>

      <div class="routine-btns">
         <%= f.submit "ルーティンを登録" ,:class=>"image_input_btn" %>
         <%= link_to "後で設定" ,my_page_path ,class:"after-btn" %>
      </div>

    <% end %>

</div>

<script>
  // 時刻を設定をクリック(選択)したとき
  $('[name="routine[accurate_time]"]').click(function() {
    $('input[name="routine[approximate_time]"]').prop('checked', false); // routine[approximate_time]のラジオボタンをoffにする
    $('#hoge').removeClass('display-none').addClass('display-block'); // id: hogeを表示する
    $('#routine_approximate_time_after').removeClass('display-block').addClass('display-none'); // id: routine_approximate_time_afterを非表示にする
  });

  // ざっくり時間をクリック(選択)したとき
  $('[name="routine[approximate_time]"]').click(function() {
    $('input[name="routine[accurate_time]"]').prop('checked', false); // routine[accurate_time]のラジオボタンをoffにする
    $('#hoge').removeClass('display-block').addClass('display-none'); // id: hogeを非表示にする
    $('#routine_approximate_time_after').removeClass('display-none').addClass('display-block'); // id: routine_approximate_time_afterを表示する
  });
</script>