<%= form_with model: @routine,url: routines_path, html:{name:"routine"} do |f| %>
<div class="routine-new-wrapper">
  <!--目標ここから-->
  <div class="routine-content">
    <h3>■What is your goal?</h3>
    <p class="sub-text"><span>目標はなんですか？</span></p>
      <%= f.text_field :target, autofocus: true, placeholder: "ナイスバディになって彼氏を見返す！", class: "new-form-control" %>
    <p class="sub-text"><i class="fa-solid fa-camera-retro"></i><span>こういう人になりたい！ここに行きたい！</span>など参考画像があればアップしてみてください！<br/>毎日、目にしてモチベーションを上げましょう！</p>
      <%= f.file_field :routine_image, placeholder: "", accept: "image/*", class: "routine_image_form" %>
  </div>

  <!--ルーティンここから-->
  <div class="routine-content">
    <h3>■What do you routineize?</h3>
    <p class="sub-text"><span>何をルーティン化しますか？</span></p>
    <div>
    <%= f.fields_for :task do |task| %>
      <%= task.text_field :name, placeholder: "日記を書く、筋トレするetc...", class: "short-text" %>
      <div>
        <p class="sub_task_title">サブタスク&emsp;※任意※
        <%= link_to_add_association task, :sub_tasks,
                              form_name: 'sub_task',
                              data: {
                                association_insertion_node: '#sub_task-forms',
                                association_insertion_method: 'after',
                                partial: "sub_task_fields",
                              } do %>
                              <button class="btn-plus" id="add_order">
                                <i class="fa-solid fa-plus"></i>
                              </button>
                              <%end%>
          <div id="sub_task-forms">
            <%= task.fields_for :sub_tasks do |sub_task| %>
          <% render 'sub_task_fields', sub_task: sub_task %>
          <% end %>
          </p>
          </div>
      </div>
      <% end %>
    </div>
  </div>


  <!--いつ？-->
  <div class="routine-content">
    <h3>■When?</h3>
    <p class="sub-text"><span>いつしますか？</span></p>
    <div>
      <%= f.fields_for :implementation_time do |implementation_time| %>
      <div>
        <p>
          <%= implementation_time.radio_button :accurate_time, true, checked: true, id: 'accurate_time_radio_button' %>
          <%= implementation_time.label :accurate_time, "時刻を設定", for: 'accurate_time_radio_button' %>
          <%= implementation_time.time_field :accurate_time, id: 'accurate_time_select', class: 'short-text display-block'%>
          <div id="error_message_accurate_time"></div>
        </p>
      </div>
      <div>
        <p>
          <%= implementation_time.radio_button :approximate_time, true, id: 'approximate_time_radio_button' %>
          <%= implementation_time.label :approximate_time, "ざっくり時間", for: 'approximate_time_radio_button' %>
          <%= implementation_time.text_field :approximate_time, placeholder: "何時でもOK、食事後など", class: "short-text display-none", id: 'routine_approximate_time' %>
        </p>
      </div>
      <% end %>
    </div>
  </div>

  <script>
    // 時刻を設定をクリック(選択)したとき
    $('#accurate_time_radio_button').click(function() {
      $('#approximate_time_radio_button').prop('checked', false); // routine[approximate_time]のラジオボタンをoffにする
      $('#accurate_time_select').removeClass('display-none').addClass('display-block'); // id: accurate_time_selectを表示する
      $('#routine_approximate_time').removeClass('display-block').addClass('display-none'); // id: routine_approximate_timeを非表示にする
    });

    // ざっくり時間をクリック(選択)したとき
    $('#approximate_time_radio_button').click(function() {
      $('#accurate_time_radio_button').prop('checked', false); // routine[accurate_time]のラジオボタンをoffにする
      $('#accurate_time_select').removeClass('display-block').addClass('display-none'); // id: accurate_time_selectを非表示にする
      $('#routine_approximate_time').removeClass('display-none').addClass('display-block'); // id: routine_approximate_timeを表示する
    });
  </script>

  <!--頻度ここから-->
  <div class="routine-content">
    <h3>■How often?</h3>
    <p class="sub-text"><span>頻度は？</span></p>
    <div>
      <%= f.fields_for :frequency do |frequency| %>
      <div>
        <p>
          <%= frequency.collection_radio_buttons :frequency, Frequency.frequencies.map{|k, v| [k, I18n.t("enums.frequency.frequency.#{k}")] }, :first , :last do |b|  %>
            <div><p><%= b.radio_button + b.label %></p></div>
          <% end %>
        </p>
      </div>
      <% end %>
    </div>
  </div>

  <!--期間ここから-->
  <div class="routine-content">
    <h3>■How long is the period?</h3>
    <p class="sub-text"><span>期間は？</span></p>
    <div>
      <%= f.fields_for :period do |period| %>
      <div>
        <p>
          <%= period.collection_radio_buttons :period, Period.periods.map{|k, v| [k, I18n.t("enums.period.period.#{k}")] }, :first , :last do |b|  %>
          <div><p><%= b.radio_button + b.label %></p></div>
          <% end %>
        </p>
      </div>
      <% end %>
    </div>
  </div>

  <!--公開設定-->
  <div class="routine-content">
    <h3>■公開設定</h3>
    <div>
      <p>
        <%= f.radio_button :public_status, true, checked: true %>
        <%= f.label :"公開" %>
        <%= f.radio_button :public_status, false %>
        <%= f.label :"非公開" %>
      </p>
    </div>
  </div>

  <!--ボタンたち-->
  <div class="routine-btns">
    <%= button_tag "ルーティンを登録",type:"button", onclick:"check_submit();",:class=>"input_btn" %>
    <%= link_to "後で設定" ,my_page_path ,class:"after-btn" %>
  </div>

</div>
<% end %>

<script>
  function check_submit()
  {
    if ($("#accurate_time_radio_button").prop('checked')) {
      var time = document.getElementById("accurate_time_select");
      if (time.value != "") {
        document.routine.submit();
      } else {
        $("#error_message_accurate_time").html("時刻を入力してください。")
      }
    }
    if ($("#approximate_time_radio_button").prop('checked')) {
      var time = document.getElementById("routine_approximate_time");
      if (time.value != "") {
        document.routine.submit();
      } else {
        $("#error_message_accurate_time").html("「ざっくり時間」のフォームを入力してください。")
      }
    }
  }
</script>
