<div class="routine-show-wrapper">
  <div class="routine-show-contents">
    <!--プロフィー部分-->
    <div class="routine-show-left">
      <div class="profile-contents">
        <div style="text-align: center;">
          <%= image_tag "/level_#{@routine.level}.jpg" %>
          <p>level.<%= @routine.level %></p>
        </div>

        </p>
      </div>
    </div>
    <!--ルーティン一覧部分-->
    <div class="routine-show-right">
      <div class="routine-show-right-txt">
        <h5>
          ■Routine
          <%= link_to '編集', edit_routine_path(@routine.id), class:'edit-btn' %>
        </h5>

      </div>

      <div class="routine_info_contents">
        <div class="routine_info">

          <div class="routine_info_1">
            <p class="target_title" style=""><b>目標</b>：<%= @routine.target %></p>
            <p class="target_routine_text">
            <b>ルーティン</b>：
            <span>
              <% if @routine.implementation_time.accurate_time.present? %>
                <%= @routine.implementation_time.accurate_time.strftime('%H:%M') if @routine.implementation_time.accurate_time %>に
              <% else %>
                <%= @routine.implementation_time.approximate_time %>に
              <% end %>
              <%= @routine.frequency.frequency_i18n %>、
              <%= @routine.task.name %>を、
              <%= @routine.period.period_i18n %>続ける！
              </span>
            </p>
            <!--<img src="/fukidashi3.png" class="fukidashi"><br>-->
            <!--<div>-->
            <!--<%# if @routine.routine_image.attached? %>-->
            <!--  <div class="routine_images"><%#= image_tag @routine.routine_image %></div>-->
            <!--<%# else %>-->
            <!--  <div class="routine_images"><%#= image_tag 'no_image' %></div>-->
            <!--<%# end %>-->
            <!--</div>-->

          </div>
        </div>

        <div class="routine_checkbox_content">

        <!--サブタスクがある場合-->
        <% if @routine.task.sub_tasks.present? %>
          <%= form_tag routine_sub_task_commits_path(@routine.id) do %>
            <% for n in 1..@loop_count do %>
            <p class="check_box_text">
              <%= collection_check_boxes "sub_task_#{n}", SubTask , @routine.task.sub_tasks, :id, :name do |b| %>
                <%= b.label {b.check_box(checked: b.object.sub_task_commits.where(sub_task_id: b.object.id, times: n, created_at: @today..@routine.next_day).present?) + b.text} %><br>
              <% end %>
            </p>
            <% end %>
            <%= submit_tag "更新", :class=>"update-btn2", "data-confirm" => "本当に更新しますか？※変更できません。"  %><br>
          <% end %>


        </div>

      <!--サブタスクがない場合-->
      <div class="routine_checkbox_content">
      <% else %>

        <%= form_tag routine_task_commits_path(@routine.id) do %>
          <% for n in 1..@loop_count do %>
          <p class="check_box_text">
            <%= check_box "task", "task_#{n}", checked: @routine.task.task_commits.where(task_id: @routine.task.id ,times: n, created_at: @today..@routine.next_day).present? %>
            <%= label @routine.task.name, @routine.task.name %> <br>
            </p>
          <% end %>
          <%= submit_tag "更新", :class=>"update-btn2", "data-confirm" => "本当に更新しますか？※変更できません。"  %><br>

        <% end %>
      <% end %>
      </div>

      </div>

    </div>
  </div>

  <!--草機能テスト-->
  <!--<div id="cal-heatmap"></div>-->
  <!--<script src="https://d3js.org/d3.v7.min.js"></script>-->

  <!--<script>-->
  <!--const cal = new CalHeatmap();-->
  <!--  cal.paint({-->
  <!--  date: { start: new Date(2020, 0, 15) },-->
  <!--  domain: { type: 'month' },-->
  <!--  subDomain: { type: 'day' },-->
  <!--  });-->

  <!--</script>-->

</div>


