<div class="routine-show-wrapper">
  <div class="routine-show-contents">
    <div class="routine-show-left">
      <div class="routine_images">
        <p class="target_title" style="text-align: center;">＼<%= @routine.target %>／</p>
        <% if @routine.routine_image.attached? %>
          <div style="text-align: center;"><%= image_tag @routine.routine_image %></div>
        <% else %>
          <div style="text-align: center;"><%= image_tag 'no_image' %></div>
        <% end %>
      </div>
      <div class="heatmap_content">
        <div id="cal-heatmap"></div>
      </div>
    </div>

    <div class="routine-show-right">
      <div class="routine-show-right-txt">
        <h5>■Routine<%= link_to '編集', edit_routine_path(@routine.id), class:'edit-btn' %></h5>
      </div>
      <div class="profile-contents-2">
        <div style="text-align: center;" class="level_icon_content">
          <%= image_tag "/level_#{@routine.level}.jpg" %>
          <p>level.<%= @routine.level %></p>
        </div>
        <div>
          <div class="target_routine_text">
            <p><b>ルーティン</b>：<%= @routine.task.name %></p>
            <p>
              <b>いつ</b>：
              <% if @routine.implementation_time.accurate_time.present? %>
                <%= @routine.implementation_time.accurate_time.strftime('%H:%M') if @routine.implementation_time.accurate_time %>
              <% else %>
                <%= @routine.implementation_time.approximate_time %>
              <% end %>
            </p>
            <p><b>頻度</b>：<%= @routine.frequency.frequency_i18n %></p>
            <p><b>期間</b>：<%= @routine.period.period_i18n %></p>
          </div>
        </div>
      </div>
      <div class="routine_checkbox_content">
        <%# "デバッグ用チェックボックスのチェックに該当するcommitの日付を検索する範囲" %>
        first: <%= @routine.first_commit_range? %><br>
        created_at<%= @routine.created_at %><br>
        <%= @routine.before_frequency_range %>
        <!--サブタスクがある場合-->
      <% if @routine.task.sub_tasks.present? %>
        <%= form_tag routine_sub_task_commits_path(@routine.id) do %>
          <% (1..@loop_count).each do |n| %>
          <p class="check_box_text">
            <%# "サブタスクに紐づくcommitをサブタスク毎に2時配列で取得" %>
            <%= @routine.task.sub_tasks.map{ |o| o.sub_task_commits.pluck(:id, :created_at)} %>
            <%= collection_check_boxes "sub_task_#{n}", SubTask , @routine.task.sub_tasks, :id, :name do |b| %>
            <%# binding.pry %>
              <%= b.label {b.check_box(checked: b.object.sub_task_commits.where(sub_task_id: b.object.id, times: n, created_at: @routine.before_frequency_range).present?) + b.text} %><br>
            <% end %>
          </p>
          <% end %>
          <%#= submit_tag "更新", :class=>"update-btn2", "data-confirm" => "本当に更新しますか？※変更できません。"  %><br>
          <%= submit_tag "更新", :class=>"update-btn2" %><br>

        <% end %>
      <!--サブタスクがない場合-->
      <% else %>
        <%= form_tag routine_task_commits_path(@routine.id) do %>
          <% (1..@loop_count).each do |n| %>
          <p class="check_box_text">
            <%# "タスクに紐づくcommitを配列で取得" %>
            <%= @routine.task.task_commits.pluck(:id, :created_at) %>
            <%# binding.pry %>
            <%= check_box "task", "task_#{n}", checked: @routine.task.task_commits.where(task_id: @routine.task.id ,times: n, created_at: @routine.before_frequency_range).present? %>
            <%= label @routine.task.name, @routine.task.name %> <br>
          </p>
          <% end %>
          <%#= submit_tag "更新", :class=>"update-btn2", "data-confirm" => "本当に更新しますか？※変更できません。"  %><br>
          <%= submit_tag "更新", :class=>"update-btn2" %><br>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<!--草機能-->

<script>
  var date = new Date(2023,01,1,0,00,00);
  var linux_time = Math.floor(date.getTime() / 1000);

  var hash = {
    linux_time : 5
  }
  var cal = new CalHeatMap();
  var now = new Date();
  cal.init({
    itemSelector: '#cal-heatmap',
    domain: "month",
    data: "/routines/heatmap?routine_id=" + <%= @routine.id %>,
    domainLabelFormat: '%Y-%m',
    start: new Date(now.getFullYear(), now.getMonth() - 4),
    cellSize: 10,
    range: 5,
    legend: [33,66,99],
  });
</script>