<div class="routine-show-wrapper">
  <div class="routine-show-contents">
    <!--プロフィー部分-->
    <div class="routine-show-left">
      <div class="profile-contents">
        <div style="text-align: center;">
          <%#= image_tag current_customer.profile_image,size: '100x100' %>
          <img src="/level_10.jpg">
          <p>level.10</p>
        </div>

        </p>
      </div>
    </div>
    <!--ルーティン一覧部分-->
    <div class="routine-show-right">
      <div class="routine-show-right-txt">
        <h5>
          ■Routine
          <%= link_to '編集', edit_routine_path(@routine.id), class:'edit-btn' %>
        </h5>

      </div>

      <div>
        <p><b>目標</b>：<%= @routine.target %></p>

        <p class="target_routine_text">
        <b>ルーティン</b>：<br>
        <span>
          <%= @routine.frequency.frequency_i18n %>、
          <% if @routine.implementation_time.accurate_time.present? %>
            <%= @routine.implementation_time.accurate_time.strftime('%H:%M') if @routine.implementation_time.accurate_time %>に
          <% else %>
            <%= @routine.implementation_time.approximate_time %>に
          <% end %>
          <%= @routine.task.name %>！
          </span>
        </p>
        <!--サブタスクがある場合-->
        <% if @routine.task.sub_tasks.present? %>
          <%= form_tag routine_sub_task_commits_path(@routine.id) do %>
            <% for n in 1..@loop_count do %>
            <p class="check_box_text">
              <%= collection_check_boxes "sub_task_#{n}", SubTask , @routine.task.sub_tasks, :id, :name do |b| %>
                <% if b.object.sub_task_commits.where(created_at: Time.zone.now.all_day, times: n).exists? %>
                  <!-- sub_task_commitsに今日＋回数＝ｎで絞ったレコードが存在していればすでに達成済み-->
                <%= b.label {b.check_box(checked: true) + b.text} %><br>
                <% else %>
                  <!-- sub_task_commitsに今日＋回数＝ｎで絞ったレコードが存在していなければ未達成-->
                  <%= b.label {b.check_box(checked: false) + b.text} %> <br>
                <% end %>
              <% end %>
            </p>
            <% end %>
              <%= submit_tag "更新", :class=>"update-btn2", "data-confirm" => "本当に更新しますか？※変更できません。"  %><br>
          <% end %>

          <p class="period-content"><b>期間</b></p>
          <p><%= @routine.period.period_i18n %></p>

      <!--サブタスクがない場合-->
      <% else %>
        <p><b>ルーティンだよ</b></p>
        <%= form_tag routine_task_commits_path(@routine.id) do %>
          <% for n in 1..@loop_count do %>
            <%= check_box "task", "task_#{n}", checked: @routine.task.task_commits.where(times: n).present? %>
            <%= label @routine.task.name, @routine.task.name %> <br>
          <% end %>
          <%= submit_tag "更新", :class=>"update-btn2", "data-confirm" => "本当に更新しますか？※変更できません。"  %><br>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
