<!DOCTYPE html>
<html>
  <head>
    <title>Sasanqua</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>-->

  </head>

  <body>
    <div class="container">
        <!--ハンバーガーメニュー-->
<header class="header">
      <!-- ヘッダーロゴ -->
      <div class="logo">Sasanqua</div>

      <!-- ハンバーガーメニュー部分 -->
      <div class="nav">

        <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
        <input id="drawer_input" class="drawer_hidden" type="checkbox">

        <!-- ハンバーガーアイコン -->
        <label for="drawer_input" class="drawer_open"><span></span></label>

        <!-- メニュー -->
        <nav class="nav_content">
          <ul class="nav_list">
            <li class="nav_item"><a href="">TOP</a></li>
            <li class="nav_item"><a href="">ABOUT</a></li>
            <li class="nav_item"><a href="">SERVICE</a></li>
          </ul>
        </nav>

      </div>
    </header>
<!--ハンバーガーメニュー-->


      <main>
        <%= yield %>
      </main>

      <footer>

      </footer>
    </div>
  </body>
</html>
