<!DOCTYPE html>
<html>
  <head>
    <title>Sasanqua</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/c1c2279c79.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="logo">
          <img src="/sazanka03.jpg">
          <b><%= link_to 'Sasanqua' ,root_path %></b>
        </div>
        <!-- ハンバーガーメニュー部分 -->
        <div class="nav">
          <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
          <input id="drawer_input" class="drawer_hidden" type="checkbox" />
              <label for="drawer_input" class="drawer_open"><span></span></label>


          <!-- メニュー -->

          <!--1.カスタマーログイン済み-->
          <% if customer_signed_in? %>
          <nav class="nav_content">
            <ul class="nav_list">
              <li class="nav_item"><%= link_to 'All routine' ,routines_path %></li>
              <li class="nav_item"><%= link_to 'About' ,about_path %></li>
              <li class="nav_item"><%= link_to 'MY' ,my_page_path %></li>
              <li class="nav_item"><%= link_to 'Log out' , destroy_customer_session_path, method: :delete %></li>
            </ul>
          </nav>
          <!--2.管理者ログイン済み-->
          <% elsif admin_signed_in? %>
          <nav class="nav_content">
            <ul class="nav_list">
              <li class="nav_item"><%= link_to '会員一覧' ,admin_customers_path %></li>
              <li class="nav_item"><%= link_to 'ルーティン一覧' ,admin_root_path,class:"under-line" %></li>
              <li class="nav_item"><%= link_to 'Log out' ,destroy_admin_session_path, method: :delete,class:"under-line" %></li>
            </ul>
          </nav>

          <!--3.未ログインユーザー-->
          <% else %>
          <nav class="nav_content">
            <ul class="nav_list">
              <li class="nav_item"><%= link_to 'About' ,about_path %></li>
              <li class="nav_item"><%= link_to 'Sign up' ,new_customer_registration_path,class:"under-line" %></li>
              <li class="nav_item">
                <% if request.fullpath.include? "/admin" %>
                  <!--admin側のheaderを返す-->
                  <%= link_to 'Log in', new_admin_session_path, class:"under-line" %>
                <% else %>
                  <!--user側のheaderを返す-->
                  <%= link_to 'Log in', new_customer_session_path, class:"under-line" %>
                <% end %>
              </li>
              <!--</div>-->
            </ul>
          </nav>

          <% end %>
        </div>
      </header>


      <main>
        <%#= render partial: 'layouts/flash_window' %>
        <%= yield %>
      </main>

      <footer>
        <nav class="nav_content_footer">
          <ul class="nav_list_footer">
            <li class="nav_item_footer">
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="nav_item_footer">
              <%= link_to privacy_policy_path do %>
              <i class="fa-solid fa-shield-halved"></i>
              <% end %>
            </li>
            <li class="nav_item_footer">
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>
